#bird {
  color: blue;
}

.input-box {
  width: 200px;
}

#sign-up {
  margin-top: 100px;
  width: 400px;
}

#join-msg {
  margin-top: 80px;
}

.button-to-span {
  display: block;
  width: 100%;
}

#spacing {
  margin: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
